In [2]:
import pandas as pd
import numpy as np

In [5]:
df= pd.read_csv('Resources/data/1990_2022_natural_disasters.csv')
df.head()

C:\Users\nigel\AppData\Local\Temp\ipykernel_46052\3705456300.py:1: DtypeWarning: Columns (24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('Resources/data/1990_2022_natural_disasters.csv')

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1990-9579-CMR,1990,9579,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.218797,NaN,NaN,NaN,NaN
1,1990-0230-ECU,1990,230,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.218797,NaN,NaN,NaN,NaN
2,1990-0361-AUT,1990,361,NaN,Natural,Meteorological,Storm,Convective storm,Severe storm,NaN,...,NaN,28200.0,58483.0,NaN,NaN,48.218797,NaN,NaN,NaN,NaN
3,1990-9059-BOL,1990,9059,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.218797,NaN,NaN,NaN,NaN
4,1990-0248-AFG,1990,248,NaN,Natural,Meteorological,Extreme temperature,Cold wave,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.218797,NaN,NaN,NaN,NaN

In [6]:
list(df)

['Dis No',
 'Year',
 'Seq',
 'Glide',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'Disaster Subsubtype',
 'Event Name',
 'Country',
 'ISO',
 'Region',
 'Continent',
 'Location',
 'Origin',
 'Associated Dis',
 'Associated Dis2',
 'OFDA Response',
 'Appeal',
 'Declaration',
 "AID Contribution ('000 US$)",
 'Dis Mag Value',
 'Dis Mag Scale',
 'Latitude',
 'Longitude',
 'Local Time',
 'River Basin',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'No Injured',
 'No Affected',
 'No Homeless',
 'Total Affected',
 "Reconstruction Costs ('000 US$)",
 "Reconstruction Costs, Adjusted ('000 US$)",
 "Insured Damages ('000 US$)",
 "Insured Damages, Adjusted ('000 US$)",
 "Total Damages ('000 US$)",
 "Total Damages, Adjusted ('000 US$)",
 'CPI',
 'Adm Level',
 'Admin1 Code',
 'Admin2 Code',
 'Geo Locations']

In [7]:
df = df.drop(columns=["Glide", "Disaster Subsubtype", "ISO", "Origin", "Associated Dis", "Associated Dis2","OFDA Response", "Appeal", "Declaration", "Local Time", "River Basin", "No Injured", "No Affected", "No Homeless", "Adm Level", "Admin1 Code", "Admin2 Code"])
df.head()

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Country,Region,...,Total Deaths,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Geo Locations
0,1990-9579-CMR,1990,9579,Natural,Climatological,Drought,Drought,NaN,Cameroon,Middle Africa,...,NaN,186900.0,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
1,1990-0230-ECU,1990,230,Natural,Geophysical,Earthquake,Ground movement,NaN,Ecuador,South America,...,4.0,6510.0,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
2,1990-0361-AUT,1990,361,Natural,Meteorological,Storm,Convective storm,NaN,Austria,Western Europe,...,NaN,NaN,NaN,NaN,28200.0,58483.0,NaN,NaN,48.218797,NaN
3,1990-9059-BOL,1990,9059,Natural,Climatological,Drought,Drought,NaN,Bolivia (Plurinational State of),South America,...,NaN,283160.0,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
4,1990-0248-AFG,1990,248,Natural,Meteorological,Extreme temperature,Cold wave,NaN,Afghanistan,Southern Asia,...,144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN

In [8]:
df.columns=df.columns.str.strip().str.lower()
df.columns

Index(['dis no', 'year', 'seq', 'disaster group', 'disaster subgroup',
       'disaster type', 'disaster subtype', 'event name', 'country', 'region',
       'continent', 'location', 'aid contribution ('000 us$)', 'dis mag value',
       'dis mag scale', 'latitude', 'longitude', 'start year', 'start month',
       'start day', 'end year', 'end month', 'end day', 'total deaths',
       'total affected', 'reconstruction costs ('000 us$)',
       'reconstruction costs, adjusted ('000 us$)',
       'insured damages ('000 us$)', 'insured damages, adjusted ('000 us$)',
       'total damages ('000 us$)', 'total damages, adjusted ('000 us$)', 'cpi',
       'geo locations'],
      dtype='object')

In [9]:
df2= df.rename(str.strip, axis ='columns')
df2

,dis no,year,seq,disaster group,disaster subgroup,disaster type,disaster subtype,event name,country,region,...,total deaths,total affected,reconstruction costs ('000 us$),"reconstruction costs, adjusted ('000 us$)",insured damages ('000 us$),"insured damages, adjusted ('000 us$)",total damages ('000 us$),"total damages, adjusted ('000 us$)",cpi,geo locations
0,1990-9579-CMR,1990,9579,Natural,Climatological,Drought,Drought,NaN,Cameroon,Middle Africa,...,NaN,186900.0,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
1,1990-0230-ECU,1990,230,Natural,Geophysical,Earthquake,Ground movement,NaN,Ecuador,South America,...,4.0,6510.0,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
2,1990-0361-AUT,1990,361,Natural,Meteorological,Storm,Convective storm,NaN,Austria,Western Europe,...,NaN,NaN,NaN,NaN,28200.0,58483.0,NaN,NaN,48.218797,NaN
3,1990-9059-BOL,1990,9059,Natural,Climatological,Drought,Drought,NaN,Bolivia (Plurinational State of),South America,...,NaN,283160.0,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
4,1990-0248-AFG,1990,248,Natural,Meteorological,Extreme temperature,Cold wave,NaN,Afghanistan,Southern Asia,...,144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.218797,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19839,2022-0255-COD,2022,255,Natural,Biological,Epidemic,Viral disease,Plague,Congo (the Democratic Republic of the),Middle Africa,...,2.0,91738.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ituri (Adm2).
19840,2022-0263-COD,2022,263,Natural,Biological,Epidemic,Viral disease,Ebola Virus Disease,Congo (the Democratic Republic of the),Middle Africa,...,5.0,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19841,2022-0164-COD,2022,164,Technological,Technological,Transport accident,Rail,NaN,Congo (the Democratic Republic of the),Middle Africa,...,75.0,125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19842,2022-0216-ZWE,2022,216,Technological,Technological,Transport accident,Road,NaN,Zimbabwe,Eastern Africa,...,35.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19843,2022-0201-TLS,2022,201,Natural,Biological,Epidemic,Viral disease,Dengue,Timor-Leste,South-Eastern Asia,...,20.0,1353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df2.columns

Index(['dis no', 'year', 'seq', 'disaster group', 'disaster subgroup',
       'disaster type', 'disaster subtype', 'event name', 'country', 'region',
       'continent', 'location', 'aid contribution ('000 us$)', 'dis mag value',
       'dis mag scale', 'latitude', 'longitude', 'start year', 'start month',
       'start day', 'end year', 'end month', 'end day', 'total deaths',
       'total affected', 'reconstruction costs ('000 us$)',
       'reconstruction costs, adjusted ('000 us$)',
       'insured damages ('000 us$)', 'insured damages, adjusted ('000 us$)',
       'total damages ('000 us$)', 'total damages, adjusted ('000 us$)', 'cpi',
       'geo locations'],
      dtype='object')

In [13]:
df3= df2.drop(df2[df2['disaster group'] == 'Technological'].index)

print(df3)

              dis no  year   seq disaster group disaster subgroup  \
0      1990-9579-CMR  1990  9579        Natural    Climatological
1      1990-0230-ECU  1990   230        Natural       Geophysical
2      1990-0361-AUT  1990   361        Natural    Meteorological
3      1990-9059-BOL  1990  9059        Natural    Climatological
4      1990-0248-AFG  1990   248        Natural    Meteorological
...              ...   ...   ...            ...               ...
19837  2022-0356-ZAF  2022   356        Natural      Hydrological
19838  2022-0209-COD  2022   209        Natural    Meteorological
19839  2022-0255-COD  2022   255        Natural        Biological
19840  2022-0263-COD  2022   263        Natural        Biological
19843  2022-0201-TLS  2022   201        Natural        Biological

             disaster type  disaster subtype           event name  \
0                  Drought           Drought                  NaN
1               Earthquake   Ground movement                  NaN
2                    Storm  Convective storm                  NaN
3                  Drought           Drought                  NaN
4      Extreme temperature         Cold wave                  NaN
...                    ...               ...                  ...
19837                Flood               NaN                  NaN
19838                Storm  Convective storm                  NaN
19839             Epidemic     Viral disease               Plague
19840             Epidemic     Viral disease  Ebola Virus Disease
19843             Epidemic     Viral disease               Dengue

                                      country              region  ...  \
0                                    Cameroon       Middle Africa  ...
1                                     Ecuador       South America  ...
2                                     Austria      Western Europe  ...
3            Bolivia (Plurinational State of)       South America  ...
4                                 Afghanistan       Southern Asia  ...
...                                       ...                 ...  ...
19837                            South Africa     Southern Africa  ...
19838  Congo (the Democratic Republic of the)       Middle Africa  ...
19839  Congo (the Democratic Republic of the)       Middle Africa  ...
19840  Congo (the Democratic Republic of the)       Middle Africa  ...
19843                             Timor-Leste  South-Eastern Asia  ...

      total deaths total affected  reconstruction costs ('000 us$)  \
0              NaN       186900.0                              NaN
1              4.0         6510.0                              NaN
2              NaN            NaN                              NaN
3              NaN       283160.0                              NaN
4            144.0            NaN                              NaN
...            ...            ...                              ...
19837          NaN          204.0                              NaN
19838         26.0            NaN                              NaN
19839          2.0        91738.0                              NaN
19840          5.0          141.0                              NaN
19843         20.0         1353.0                              NaN

       reconstruction costs, adjusted ('000 us$) insured damages ('000 us$)  \
0                                            NaN                        NaN
1                                            NaN                        NaN
2                                            NaN                    28200.0
3                                            NaN                        NaN
4                                            NaN                        NaN
...                                          ...                        ...
19837                                        NaN                        NaN
19838                                        NaN                        NaN
19839                                        NaN                        NaN
19840                                        NaN                        NaN
19843                                        NaN                        NaN

      insured damages, adjusted ('000 us$) total damages ('000 us$)  \
0                                      NaN                      NaN
1                                      NaN                      NaN
2                                  58483.0                      NaN
3                                      NaN                      NaN
4                                      NaN                      NaN
...                                    ...                      ...
19837                                  NaN                      NaN
19838                                  NaN                      NaN
19839                                  NaN                      NaN
19840                                  NaN                      NaN
19843                                  NaN                      NaN

       total damages, adjusted ('000 us$)        cpi  geo locations
0                                     NaN  48.218797            NaN
1                                     NaN  48.218797            NaN
2                                     NaN  48.218797            NaN
3                                     NaN  48.218797            NaN
4                                     NaN  48.218797            NaN
...                                   ...        ...            ...
19837                                 NaN        NaN            NaN
19838                                 NaN        NaN            NaN
19839                                 NaN        NaN  Ituri (Adm2).
19840                                 NaN        NaN            NaN
19843                                 NaN        NaN            NaN

[12314 rows x 33 columns]

In [55]:
df4= df3.drop(df3[df3['disaster group'] == 'Complex Disasters'].index)

In [56]:
df4.columns=df4.columns.str.replace(' ','_')
df4=df4.fillna(0)
city_cleanup=df4['location'].str.split(',', expand=True)
city_cleanup=city_cleanup[0].fillna(0)
df4['location_estimate']=city_cleanup
df4=df4.drop(columns=['cpi','geo_locations','latitude', 'longitude'])

In [79]:
df4['start_month']=df4['start_month'].replace(0,1).map("{:.1}".format)
df4['start_day']=df4['start_day'].replace(0,1).map("{:.1}".format)
df4['end_month']=df4['end_month'].replace(0,1).map("{:.1}".format)
df4['end_day']=df4['end_day'].replace(0,1).map("{:.1}".format)
df4['start_date']=df4['start_year'].astype('str')+'-'+df4['start_month']+'-'+df4['start_day']
df4['end_date']=df4['end_year'].astype('str')+'-'+df4['end_month']+'-'+df4['end_day']
df4['start_date']=pd.to_datetime(df4['start_date'])
df4['end_date']=pd.to_datetime(df4['end_date'])

In [83]:
for index,row in df4.iterrows():
    country=row["country"]
    if row['location_estimate']==0:
        df4.loc[index,'location_estimate']=country

In [84]:
df4

,dis_no,year,seq,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,event_name,country,region,...,total_affected,reconstruction_costs_('000_us$),"reconstruction_costs,_adjusted_('000_us$)",insured_damages_('000_us$),"insured_damages,_adjusted_('000_us$)",total_damages_('000_us$),"total_damages,_adjusted_('000_us$)",location_estimate,start_date,end_date
0,1990-9579-CMR,1990,9579,Natural,Climatological,Drought,Drought,0,Cameroon,Middle Africa,...,186900.0,0.0,0.0,0.0,0.0,0.0,0.0,North provinces,1990-01-01,1991-01-01
1,1990-0230-ECU,1990,230,Natural,Geophysical,Earthquake,Ground movement,0,Ecuador,South America,...,6510.0,0.0,0.0,0.0,0.0,0.0,0.0,Quito,1990-08-01,1990-08-01
2,1990-0361-AUT,1990,361,Natural,Meteorological,Storm,Convective storm,0,Austria,Western Europe,...,0.0,0.0,0.0,28200.0,58483.0,0.0,0.0,Austria,1990-05-02,1990-05-02
3,1990-9059-BOL,1990,9059,Natural,Climatological,Drought,Drought,0,Bolivia (Plurinational State of),South America,...,283160.0,0.0,0.0,0.0,0.0,0.0,0.0,La paz,1990-01-01,1990-01-01
4,1990-0248-AFG,1990,248,Natural,Meteorological,Extreme temperature,Cold wave,0,Afghanistan,Southern Asia,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Afghanistan,1990-01-03,1990-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19837,2022-0356-ZAF,2022,356,Natural,Hydrological,Flood,0,0,South Africa,Southern Africa,...,204.0,0.0,0.0,0.0,0.0,0.0,0.0,Kleinvlei,2022-06-01,2022-06-02
19838,2022-0209-COD,2022,209,Natural,Meteorological,Storm,Convective storm,0,Congo (the Democratic Republic of the),Middle Africa,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Congo (the Democratic Republic of the),2022-01-02,2022-02-02
19839,2022-0255-COD,2022,255,Natural,Biological,Epidemic,Viral disease,Plague,Congo (the Democratic Republic of the),Middle Africa,...,91738.0,0.0,0.0,0.0,0.0,0.0,0.0,Rethy,2022-04-04,2022-05-02
19840,2022-0263-COD,2022,263,Natural,Biological,Epidemic,Viral disease,Ebola Virus Disease,Congo (the Democratic Republic of the),Middle Africa,...,141.0,0.0,0.0,0.0,0.0,0.0,0.0,Wangata,2022-04-02,2022-07-03
19843,2022-0201-TLS,2022,201,Natural,Biological,Epidemic,Viral disease,Dengue,Timor-Leste,South-Eastern Asia,...,1353.0,0.0,0.0,0.0,0.0,0.0,0.0,Aileu,2022-01-01,2022-01-03

In [86]:
import requests
from config import gmap_key

In [ ]:
df4['lat']=''
df4['lng']=''
for index,row in df4.iterrows():
    try:
        target=row['location_estimate']
        url = f"https://maps.googleapis.com/maps/api/geocode/json?address={target}&key={gmap_key}"
        response = requests.get(url).json()
        lat = response['results'][0]['geometry']['location']['lat']
        lng = response['results'][0]['geometry']['location']['lng']
        df4.loc[index,'lat']=lat
        df4.loc[index,'lng']=lng
    except:
        target=row['country']
        url = f"https://maps.googleapis.com/maps/api/geocode/json?address={target}&key={gmap_key}"
        response = requests.get(url).json()
        lat = response['results'][0]['geometry']['location']['lat']
        lng = response['results'][0]['geometry']['location']['lng']
        df4.loc[index,'lat']=lat
        df4.loc[index,'lng']=lng

In [109]:
df4.to_csv('Resources/data/natural_disasters.csv')

In [117]:
cleaned_disasters = pd.read_csv('Resources/cleaned/natural_disasters.csv')
cleaned_disasters

,dis_no,year,seq,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,event_name,country,standardized,...,"reconstruction_costs,_adjusted_('000_us$)",insured_damages_('000_us$),"insured_damages,_adjusted_('000_us$)",total_damages_('000_us$),"total_damages,_adjusted_('000_us$)",location_estimate,start_date,end_date,lat,lng
0,1990-0248-AFG,1990,248,Natural,Meteorological,Extreme temperature,Cold wave,0,Afghanistan,Afghanistan,...,0,0,0,0,0,Afghanistan,1/3/1990,1/3/1990,33.93911,67.709953
1,1991-0498-AFG,1991,498,Natural,Geophysical,Earthquake,Ground movement,0,Afghanistan,Afghanistan,...,0,0,0,0,0,Keshim (Badakhshan province),4/2/1991,4/2/1991,36.5712949,70.3360691
2,1991-0033-AFG,1991,33,Natural,Geophysical,Earthquake,Ground movement,0,Afghanistan,Afghanistan,...,0,0,0,0,0,Konar,1/3/1991,1/3/1991,33.93911,67.709953
3,1991-0032-AFG,1991,32,Natural,Hydrological,Flood,Riverine flood,0,Afghanistan,Afghanistan,...,0,0,0,60000,119377,Badakhstan,2/6/1991,2/2/1991,36.7347725,70.8119953
4,1991-0130-AFG,1991,130,Natural,Hydrological,Flood,Riverine flood,0,Afghanistan,Afghanistan,...,0,0,0,0,0,Arabjar,5/3/1991,6/4/1991,33.93911,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12297,2019-0094-ZWE,2019,94,Natural,Hydrological,Flood,Flash flood,0,Zimbabwe,Zimbabwe,...,0,0,0,0,0,Masvingo,2/1/2019,2/2/2019,-20.0744,30.8328
12298,2021-0036-ZWE,2021,36,Natural,Meteorological,Storm,Tropical cyclone,Tropical cyclone 'Eloise',Zimbabwe,Zimbabwe,...,0,0,0,0,0,Chivi,1/2/2021,1/2/2021,-19.015438,29.154857
12299,2021-9786-ZWE,2021,9786,Natural,Climatological,Drought,Drought,0,Zimbabwe,Zimbabwe,...,0,0,0,0,0,Matabeleland South,8/1/2021,2/1/2022,-19.015438,29.154857
12300,2022-0052-ZWE,2022,52,Natural,Meteorological,Storm,Tropical cyclone,Tropical storm 'Ana',Zimbabwe,Zimbabwe,...,0,0,0,0,0,Kariba,1/2/2022,1/2/2022,-16.5333,28.8
12301,2022-0043-ZWE,2022,43,Natural,Hydrological,Flood,0,0,Zimbabwe,Zimbabwe,...,0,0,0,0,0,Victoria Falls City (Matabeleland North Province),1/1/2022,1/2/2022,-19.015438,29.154857

In [127]:
summary=cleaned_disasters[['country','year','disaster_type','total_deaths', 'total_affected',
       "reconstruction_costs_('000_us$)",
       "reconstruction_costs,_adjusted_('000_us$)",
       "insured_damages_('000_us$)", "insured_damages,_adjusted_('000_us$)",
       "total_damages_('000_us$)", "total_damages,_adjusted_('000_us$)"]]

In [135]:
yearly_totper_disaster = summary.groupby(['country','year','disaster_type']).sum()
yearly_totper_disaster

                                      total_deaths  total_affected  \
country     year disaster_type
Afghanistan 1990 Extreme temperature           144               0
            1991 Earthquake                    154            7000
                 Extreme temperature            80             200
                 Flood                        1193          139400
            1992 Earthquake                     14               0
...                                            ...             ...
Zimbabwe    2019 Storm                         628          270186
            2021 Drought                         0          167500
                 Storm                           3            2400
            2022 Flood                           0               0
                 Storm                           0            3000

                                      reconstruction_costs_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                                0
            1991 Earthquake                                         0
                 Extreme temperature                                0
                 Flood                                              0
            1992 Earthquake                                         0
...                                                               ...
Zimbabwe    2019 Storm                                              0
            2021 Drought                                            0
                 Storm                                              0
            2022 Flood                                              0
                 Storm                                              0

                                      reconstruction_costs,_adjusted_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                                          0
            1991 Earthquake                                                   0
                 Extreme temperature                                          0
                 Flood                                                        0
            1992 Earthquake                                                   0
...                                                                         ...
Zimbabwe    2019 Storm                                                        0
            2021 Drought                                                      0
                 Storm                                                        0
            2022 Flood                                                        0
                 Storm                                                        0

                                      insured_damages_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                           0
            1991 Earthquake                                    0
                 Extreme temperature                           0
                 Flood                                         0
            1992 Earthquake                                    0
...                                                          ...
Zimbabwe    2019 Storm                                         0
            2021 Drought                                       0
                 Storm                                         0
            2022 Flood                                         0
                 Storm                                         0

                                      insured_damages,_adjusted_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                                     0
            1991 Earthquake                                              0
                 Extreme temperature                                     0
                 Flood                                                   0
            1992 Earthquake                                              0
...                                                                    ...
Zimbabwe    2019 Storm                                                   0
            2021 Drought                                                 0
                 Storm                                                   0
            2022 Flood                                                   0
                 Storm                                                   0

                                      total_damages_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                         0
            1991 Earthquake                                  0
                 Extreme temperature                         0
                 Flood                                   60000
            1992 Earthquake                                  0
...                                                        ...
Zimbabwe    2019 Storm                                       0
            2021 Drought                                     0
                 Storm                                       0
            2022 Flood                                       0
                 Storm                                       0

                                      total_damages,_adjusted_('000_us$)
country     year disaster_type
Afghanistan 1990 Extreme temperature                                   0
            1991 Earthquake                                            0
                 Extreme temperature                                   0
                 Flood                                            119377
            1992 Earthquake                                            0
...                                                                  ...
Zimbabwe    2019 Storm                                                 0
            2021 Drought                                               0
                 Storm                                                 0
            2022 Flood                                                 0
                 Storm                                                 0

[7076 rows x 8 columns]

In [137]:
yearly_totals = summary.groupby(['country','year']).sum()
yearly_totals

                  total_deaths  total_affected  \
country     year
Afghanistan 1990           144               0
            1991          1427          146600
            1992           614            4000
            1993           225            1000
            1994           160          100330
...                        ...             ...
Zimbabwe    2017           251         7013023
            2018            12            5164
            2019           654          270186
            2021             3          169900
            2022             0            3000

                  reconstruction_costs_('000_us$)  \
country     year
Afghanistan 1990                                0
            1991                                0
            1992                                0
            1993                                0
            1994                                0
...                                           ...
Zimbabwe    2017                                0
            2018                                0
            2019                                0
            2021                                0
            2022                                0

                  reconstruction_costs,_adjusted_('000_us$)  \
country     year
Afghanistan 1990                                          0
            1991                                          0
            1992                                          0
            1993                                          0
            1994                                          0
...                                                     ...
Zimbabwe    2017                                          0
            2018                                          0
            2019                                          0
            2021                                          0
            2022                                          0

                  insured_damages_('000_us$)  \
country     year
Afghanistan 1990                           0
            1991                           0
            1992                         200
            1993                           0
            1994                           0
...                                      ...
Zimbabwe    2017                           0
            2018                           0
            2019                           0
            2021                           0
            2022                           0

                  insured_damages,_adjusted_('000_us$)  \
country     year
Afghanistan 1990                                     0
            1991                                     0
            1992                                   386
            1993                                     0
            1994                                     0
...                                                ...
Zimbabwe    2017                                     0
            2018                                     0
            2019                                     0
            2021                                     0
            2022                                     0

                  total_damages_('000_us$)  total_damages,_adjusted_('000_us$)
country     year
Afghanistan 1990                         0                                   0
            1991                     60000                              119377
            1992                      4000                                7725
            1993                         0                                   0
            1994                         0                                   0
...                                    ...                                 ...
Zimbabwe    2017                    189000                              208932
            2018                         0                                   0
            2019                         0                                   0
            2021                         0                                   0
            2022                         0                                   0

[3851 rows x 8 columns]

In [139]:
yearly_avg_perdisaster = summary.groupby(['country','year','disaster_type']).mean()
yearly_avg_perdisaster

                                      total_deaths  total_affected  \
country     year disaster_type
Afghanistan 1990 Extreme temperature    144.000000        0.000000
            1991 Earthquake              77.000000     3500.000000
                 Extreme temperature     80.000000      200.000000
                 Flood                  397.666667    46466.666667
            1992 Earthquake              14.000000        0.000000
...                                            ...             ...
Zimbabwe    2019 Storm                  628.000000   270186.000000
            2021 Drought                  0.000000   167500.000000
                 Storm                    3.000000     2400.000000
            2022 Flood                    0.000000        0.000000
                 Storm                    0.000000     3000.000000

                                      reconstruction_costs_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                              0.0
            1991 Earthquake                                       0.0
                 Extreme temperature                              0.0
                 Flood                                            0.0
            1992 Earthquake                                       0.0
...                                                               ...
Zimbabwe    2019 Storm                                            0.0
            2021 Drought                                          0.0
                 Storm                                            0.0
            2022 Flood                                            0.0
                 Storm                                            0.0

                                      reconstruction_costs,_adjusted_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                                        0.0
            1991 Earthquake                                                 0.0
                 Extreme temperature                                        0.0
                 Flood                                                      0.0
            1992 Earthquake                                                 0.0
...                                                                         ...
Zimbabwe    2019 Storm                                                      0.0
            2021 Drought                                                    0.0
                 Storm                                                      0.0
            2022 Flood                                                      0.0
                 Storm                                                      0.0

                                      insured_damages_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                         0.0
            1991 Earthquake                                  0.0
                 Extreme temperature                         0.0
                 Flood                                       0.0
            1992 Earthquake                                  0.0
...                                                          ...
Zimbabwe    2019 Storm                                       0.0
            2021 Drought                                     0.0
                 Storm                                       0.0
            2022 Flood                                       0.0
                 Storm                                       0.0

                                      insured_damages,_adjusted_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                                   0.0
            1991 Earthquake                                            0.0
                 Extreme temperature                                   0.0
                 Flood                                                 0.0
            1992 Earthquake                                            0.0
...                                                                    ...
Zimbabwe    2019 Storm                                                 0.0
            2021 Drought                                               0.0
                 Storm                                                 0.0
            2022 Flood                                                 0.0
                 Storm                                                 0.0

                                      total_damages_('000_us$)  \
country     year disaster_type
Afghanistan 1990 Extreme temperature                       0.0
            1991 Earthquake                                0.0
                 Extreme temperature                       0.0
                 Flood                                 20000.0
            1992 Earthquake                                0.0
...                                                        ...
Zimbabwe    2019 Storm                                     0.0
            2021 Drought                                   0.0
                 Storm                                     0.0
            2022 Flood                                     0.0
                 Storm                                     0.0

                                      total_damages,_adjusted_('000_us$)
country     year disaster_type
Afghanistan 1990 Extreme temperature                            0.000000
            1991 Earthquake                                     0.000000
                 Extreme temperature                            0.000000
                 Flood                                      39792.333333
            1992 Earthquake                                     0.000000
...                                                                  ...
Zimbabwe    2019 Storm                                          0.000000
            2021 Drought                                        0.000000
                 Storm                                          0.000000
            2022 Flood                                          0.000000
                 Storm                                          0.000000

[7076 rows x 8 columns]

In [140]:
yearly_avg = summary.groupby(['country','year']).mean()
yearly_avg

                  total_deaths  total_affected  \
country     year
Afghanistan 1990    144.000000    0.000000e+00
            1991    237.833333    2.443333e+04
            1992    204.666667    1.333333e+03
            1993     56.250000    2.500000e+02
            1994    160.000000    1.003300e+05
...                        ...             ...
Zimbabwe    2017    125.500000    3.506512e+06
            2018     12.000000    5.164000e+03
            2019    327.000000    1.350930e+05
            2021      1.500000    8.495000e+04
            2022      0.000000    1.500000e+03

                  reconstruction_costs_('000_us$)  \
country     year
Afghanistan 1990                              0.0
            1991                              0.0
            1992                              0.0
            1993                              0.0
            1994                              0.0
...                                           ...
Zimbabwe    2017                              0.0
            2018                              0.0
            2019                              0.0
            2021                              0.0
            2022                              0.0

                  reconstruction_costs,_adjusted_('000_us$)  \
country     year
Afghanistan 1990                                        0.0
            1991                                        0.0
            1992                                        0.0
            1993                                        0.0
            1994                                        0.0
...                                                     ...
Zimbabwe    2017                                        0.0
            2018                                        0.0
            2019                                        0.0
            2021                                        0.0
            2022                                        0.0

                  insured_damages_('000_us$)  \
country     year
Afghanistan 1990                    0.000000
            1991                    0.000000
            1992                   66.666667
            1993                    0.000000
            1994                    0.000000
...                                      ...
Zimbabwe    2017                    0.000000
            2018                    0.000000
            2019                    0.000000
            2021                    0.000000
            2022                    0.000000

                  insured_damages,_adjusted_('000_us$)  \
country     year
Afghanistan 1990                              0.000000
            1991                              0.000000
            1992                            128.666667
            1993                              0.000000
            1994                              0.000000
...                                                ...
Zimbabwe    2017                              0.000000
            2018                              0.000000
            2019                              0.000000
            2021                              0.000000
            2022                              0.000000

                  total_damages_('000_us$)  total_damages,_adjusted_('000_us$)
country     year
Afghanistan 1990                  0.000000                            0.000000
            1991              10000.000000                        19896.166667
            1992               1333.333333                         2575.000000
            1993                  0.000000                            0.000000
            1994                  0.000000                            0.000000
...                                    ...                                 ...
Zimbabwe    2017              94500.000000                       104466.000000
            2018                  0.000000                            0.000000
            2019                  0.000000                            0.000000
            2021                  0.000000                            0.000000
            2022                  0.000000                            0.000000

[3851 rows x 8 columns]

In [148]:
totals = summary.groupby(['country']).sum()
totals['total_occurences']=summary.groupby(['country']).count()['disaster_type']
totals.to_csv('Resources/cleaned/1990_2022_summary.csv')

In [142]:
avg = summary.groupby(['country']).mean()
avg

,year,total_deaths,total_affected,reconstruction_costs_('000_us$),"reconstruction_costs,_adjusted_('000_us$)",insured_damages_('000_us$),"insured_damages,_adjusted_('000_us$)",total_damages_('000_us$),"total_damages,_adjusted_('000_us$)"
country,,,,,,,,,
Afghanistan,2007.140625,121.864583,176095.734375,0.0,0.0,1.041667,2.010417,1339.166667,1.930464e+03
Albania,2008.066667,3.433333,39042.066667,0.0,0.0,0.000000,0.000000,25952.433333,2.798630e+04
Algeria,2004.904762,67.587302,13235.968254,0.0,0.0,0.000000,0.000000,103838.825397,1.487544e+05
American Samoa,2005.250000,10.000000,6390.750000,0.0,0.0,0.000000,0.000000,50000.000000,7.220950e+04
Angola,2008.602941,75.852941,92270.426471,0.0,0.0,0.000000,0.000000,176.470588,2.639265e+02
...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,2002.500000,2.500000,636.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00
Yemen,2009.810345,40.879310,31821.327586,0.0,0.0,0.000000,0.000000,31577.586207,4.907219e+04
Yugoslavia,1990.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,883050.000000,1.831340e+06
Zambia,2006.177778,30.244444,273845.555556,0.0,0.0,0.000000,0.000000,460.000000,7.646667e+02
Zimbabwe,2007.519231,146.019231,529868.788462,0.0,0.0,0.000000,0.000000,19936.538462,2.564413e+04