In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from config import (protocol,username,password,host,port,database_name)

In [17]:
disasters=pd.read_csv('1950PresentData.csv')
decade = pd.read_csv('decade_breakdown.csv')
summary=pd.read_csv('1950PresentSummary.csv')

In [2]:
database_name = 'natural_disasters'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [20]:
summary.to_sql(name='larger_summary', con=engine, if_exists='append', index=False)

228

In [11]:
decade.to_sql(name='decade_breakdown', con=engine, if_exists='append', index=False)

40

In [14]:
disasters.to_sql(name='disasters', con=engine, if_exists='append', index=False)

832

In [18]:
summary

,country,year,total_deaths,total_affected,total_damages_('000_us$),total_occurences,iso,lat,lng
0,Afghanistan,420889,26721,34815618,603320,210,AFG,33.939110,67.709953
1,Albania,76079,290,4384706,803573,38,ALB,41.153332,20.168331
2,Algeria,175703,8633,2507531,11814846,88,DZA,28.033886,1.659626
3,American Samoa,11976,130,25563,205000,6,ASM,-14.270972,-170.132217
4,Angola,148505,5983,8870587,12000,74,AGO,-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...
223,Yemen Arab Rep,15826,1657,2624362,2022700,8,YMN,15.552727,48.516388
224,Yemen P Dem Rep,13857,507,705000,1040200,7,YMD,15.552727,48.516388
225,Yugoslavia,41537,1394,991330,3939800,21,YUG,42.783330,19.466665
226,Zambia,104156,1423,13153950,20900,52,ZMB,-13.133897,27.849332
227,Zimbabwe,108347,7604,27553177,1037700,54,ZWE,-19.015438,29.154857

In [3]:
continent_breakdown=pd.read_csv('continent_breakdown.csv')
continent_decade = pd.read_csv('continent_decade.csv')

In [4]:
continent_breakdown.to_sql(name='continent_breakdown', con=engine, if_exists='append', index=False)

60

In [5]:
continent_decade.to_sql(name='continent_decade', con=engine, if_exists='append', index=False)

40

In [2]:
disasters=pd.read_csv('1950PresentData.csv')
disasters

,dis_no,year,disaster_subgroup,disaster_type,disaster_subtype,country,iso,region,continent,location,...,end_year,end_month,end_day,total_deaths,total_affected,total_damages,start_date,end_date,lat,lng
0,1950-0008-IND,1950,Geophysical,Earthquake,Ground movement,India,IND,Southern Asia,Asia,Assam province,...,1950,8,2,1500,0,20000,8/2/1950,8/2/1950,20.593684,78.962880
1,1950-0006-IND,1950,Hydrological,Flood,Riverine flood,India,IND,Southern Asia,Asia,Saurashtra,...,1950,7,1,45,25000,0,7/1/1950,7/1/1950,20.593684,78.962880
2,1950-0011-IND,1950,Meteorological,Storm,0,India,IND,Southern Asia,Asia,West,...,1950,9,1,90,0,0,9/1/1950,9/1/1950,20.593684,78.962880
3,1950-0026-IND,1950,Hydrological,Flood,0,India,IND,Southern Asia,Asia,0,...,1950,6,1,100,0,0,6/1/1950,6/1/1950,20.593684,78.962880
4,1952-0011-IND,1952,Meteorological,Storm,Tropical cyclone,India,IND,Southern Asia,Asia,"Tanjore, Tiruchi",...,1952,1,3,400,1000000,0,1/3/1952,1/3/1952,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15827,2018-0390-QAT,2018,Hydrological,Flood,Flash flood,Qatar,QAT,Western Asia,Asia,Doha,...,2018,1,2,0,1500,10000,1/2/2018,1/2/2018,25.354826,51.183884
15828,2017-0381-BLM,2017,Meteorological,Storm,Tropical cyclone,Saint BarthÃ©lemy,BLM,Caribbean,Americas,0,...,2017,9,9,4,0,0,9/8/2017,9/9/2017,17.900000,-62.833333
15829,2017-0381-MAF,2017,Meteorological,Storm,Tropical cyclone,Saint Martin (French Part),MAF,Caribbean,Americas,0,...,2017,9,9,12,110,4100000,9/8/2017,9/9/2017,18.082550,-63.052251
15830,2017-0381-SXM,2017,Meteorological,Storm,Tropical cyclone,Sint Maarten (Dutch part),SXM,Caribbean,Americas,0,...,2017,9,9,4,5040,2500000,9/8/2017,9/9/2017,18.042480,-63.054830
15831,2020-0051-IMN,2020,Meteorological,Storm,Extra-tropical storm,Isle of Man,IMN,Northern Europe,Europe,0,...,2021,5,2,0,0,0,5/2/2021,5/2/2021,54.236107,-4.548056

In [4]:
disasters.to_sql(name='disasters', con=engine, if_exists='append', index=False)

832

In [5]:
bytype=pd.read_csv('type_breakdown.csv')

In [8]:
bytype.to_sql(name='type_breakdown', con=engine, if_exists='append', index=False)

178

In [3]:
disaster_deaths=pd.read_csv('disaster_deaths.csv')
disaster_deaths.to_sql(name='deaths', con=engine, if_exists='append', index=False)

73

In [3]:
income_summary=pd.read_csv('income_summary.csv')
income_summary.to_sql(name='income_summary', con=engine, if_exists='append', index=False)

282

In [4]:
income_decade=pd.read_csv('income_decade.csv')
income_decade.to_sql(name='income_decade', con=engine, if_exists='append', index=False)

32

In [5]:
country_summary=pd.read_csv('country_summary.csv')
country_summary.to_sql(name='country_summary', con=engine, if_exists='append', index=False)

192

In [6]:
country_breakdown=pd.read_csv('country_breakdown.csv')
country_breakdown.to_sql(name='country_breakdown', con=engine, if_exists='append', index=False)

178

In [7]:
country_yearly=pd.read_csv('country_yearly.csv')
country_yearly.to_sql(name='country_yearly', con=engine, if_exists='append', index=False)

683

In [8]:
temperature_change=pd.read_csv('temperature_change.csv')
temperature_change.to_sql(name='temp_change', con=engine, if_exists='append', index=False)

73